<p> <%= notice %> </p>
<h1> Blog List </h1>

<p> <%= link_to "New Blog", new_blog_path, class: 'badge badge-primary' %> </p>
<table class="table">
<p> <%= notice %> </p>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th scope="col">Student</th>
      <th scope="col" colspan="3">ACTION</th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog| %>
        <tr>
            <th scope="row"><%= blog.id %></th>
            <td><%= blog.title %></td>
            <td><%= blog.content %></td>
            <td><%= blog.student_id %></td>
            <td> <%= link_to "View", blog, class: "btn btn-primary" %> </td>
            <td> <%= link_to "Edit", edit_blog_path(blog), class: "btn btn-primary" %> </td>
            <td> <%= link_to "Delete", blog, method: :delete, data: { confirm: "Are you sure ?"}, class: "btn btn-primary" %>
        </tr>
    <% end %>
  </tbody>
</table>

