<p> <%= notice %> </p>
<div class="card text-center">
  <div class="card-header">
    <h4>Student Details</h4>
  </div>
  <div class="card-body">
    <%# instance method %>
    <p><strong>Full Name : </strong><%= @student.full_name %></p>
    <%# <p><strong>First Name : </strong> <%= @student.first_name %> </p>
    <%# <p><strong>Last Name : </strong> <%= @student.last_name %> </p>
    <p><strong>Email : </strong> <%= @student.email %> </p>
    <p><strong>City : </strong> <%= @student.city %> </p>
    <p><strong>DOB : </strong> <%= formate_date(@student.date_of_birth) %> </p>
    <p><strong>Age : </strong> <%= @student.age %> </p>
  </div>
  <div class="card-footer text-muted">
    <%= link_to "Back", students_path, class: "badge badge-primary" %>
    <%= link_to "Edit", edit_student_path(@student), class: "badge badge-primary" %>
  </div>
</div>