<p> <%= notice %> </p>
<h1> Project List </h1>

<p> <%= link_to "New project", new_project_path, class: 'badge badge-primary' %> </p>
<table class="table">
<p> <%= notice %> </p>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">DESCRIPTION</th>
      <th scope="col" colspan="3">ACTION</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
        <tr>
            <th scope="row"><%= project.id %></th>
            <td><%= project.name %></td>
            <td><%= project.description %></td>
            <td> <%= link_to "View", project, class: "btn btn-primary" %> </td>
            <td> <%= link_to "Edit", edit_project_path(project), class: "btn btn-primary" %> </td>
            <td> <%= link_to "Delete", project, method: :delete, data: { confirm: "Are you sure ?"}, class: "btn btn-primary" %>
        </tr>
    <% end %>
  </tbody>
</table>
